  * {
  	margin: 0;
  	padding: 0;
  	font-family: "SF Pro Text", sans-serif;
  	scroll-behavior: smooth;
  	box-sizing: border-box;
  }

  /*---- NAVIGATION BAR---*/

  #nav-bar {
  	position: sticky;
  	top: 0;
  	z-index: 10;
  }

  .navbar-brand img {
  	float: left;
  	margin-top: 12px;
  	width: 200px;
  	height: 60px;
  	padding-left: 40px;
  }

  .navbar-nav li {
  	padding: 0 8px;
  }

  .navbar-nav li a {
  	float: right;
  	text-align: left;
  	padding: 8px 16px !important;
  	color: #292929;
  	text-decoration: none;
  	border: 1px solid transparent;
  	border-radius: 6%;
  	transition: 0.6s ease;
  }

  #nav-bar ul li a:hover {
  	backdrop-filter: blur(2px);
  	background-color: #ebf0f9b4;
  	color: #000 !important;
  }

  #nav-bar ul li.active a {
  	/* background-color:#fff; */
  	color: #000 !important;
  }

  .navbar-toggle {
  	border: none !important;
  	background-color: #fff !important;
  }

  .nav-link {
  	color: white;
  	font-weight: 600;
  	font-size: 16px;
  }

  header {
  	background-image: url(../pic/bgimghome.png);
  	height: 560px;
  	background-size: cover;
  	background-position: center;
  }

  .title {
  	margin-top: 5rem;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  }

  .title h2 {
  	font-family: "SF Pro Display";
  	text-align: center;
  	color: #292929;
  	font-weight: bold;
  	font-size: 40px;
  }

  .title p {
  	font-family: "SF Pro Text";
  	color: #292929;
  	font-size: 24px;
  	text-align: center;
  }

  /*--------------------------------------------------*/


  .container {
  	width: 100%;
  	font-family: "SF Pro Text";
  	max-width: 1276px;
  }

  .container h2 {
  	color: #292929;
  	width: 200px;
  	font-size: 24px;
  	padding: 5px;
  	margin-bottom: 2%;
  	height: 40px;
  }


  /*------------------------------------------------*/

  .error {
  	width: 100%;
  	padding: 5px;
  	border: 2px solid #e60000;
  	color: red;
  	background: #ff3333;
  	border-radius: 4px;
  	text-align: center;
  }

  /* hover effects from yancy min */
  .book {
  	height: 271px;
  	width: 196px;
  	margin-bottom: 1rem;
  	box-shadow: 0px 24.1221px 48.2443px -9.64886px rgba(95, 99, 131, 0.14), 0px 14.4733px 19.2977px -9.64886px rgba(0, 0, 0, 0.24);

  	transition: all .3s ease-in-out;
  	transform-origin: left center 0px;
  	transform-style: preserve-3d;
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
  	/* -webkit-backface-visibility: hidden; */
  	overflow: hidden;
  }

  .book::before {
  	content: " ";
  	z-index: 999;
  	display: block;
  	width: 20px;
  	height: 100px;
  	opacity: 0;
  	position: absolute;
  	top: -12px;
  	right: 8px;
  	transition: all .25s;
  	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD8AAABhCAYAAABh23lYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHCSURBVHgB7dxPTsJAHMXxN7Xu3UhigobxJHACvQFwAr2BcgO8AZxE7uGiDZiQyEIW7oSOUyKbKgLS8u+9b9JNF818fum0XdWUhy9VEDZBGIdBGD6DsFM3bQYgTnjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNZ2hR/7o+UcmnCIsaNCbLcU/RR8oB1bO/4+17l8ixoGeIBBBVvMXI0ih+L7Df2j8iiqnvgh+AVVUXDOTZvF4tNb2qC7DJ1tNgSDO78tblFQxeE92l+0NSjZDjaoMowqyYl7hDF15JzL+x+YHtxLgFq/ZO2m8LT4wsb90nUjmMD61XaRc7ng5+jBua29ntsecq6oIWyELxqdLe8h/GvPp+h0T28D/FezZ8Ip7pHgZt3X5NoPvH1BZ5sNIUTDL7C+6hBWxxt0gk+00tsOe96qH0zL8GO4pBtMg/YhoLMtG8Ii/EpfY4fSoiFk8UeFzpYdwhz/jiNGZ0uHEBjUEzftohJFZyAsdX8BM0/amLC3spYAAAAASUVORK5CYII=');
  	background-size: 16px;
  	background-repeat: no-repeat;
  }

  .book::after {
  	content: " ";
  	display: block;
  	opacity: 1;
  	width: 180px;
  	height: 255px;
  	position: relative;
  	left: 8px;
  	transition: all .3s ease;
  }

  .book:hover {
  	cursor: pointer;
  	transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
  	-webkit-backface-visibility: hidden;
  	box-shadow: 12px 23px 28px rgba(95, 99, 131, 0.14), 20px 8px 8px #9297c22f;
  	/* transform: scale(1.02); */
  }

  .book:hover::after {
  	/* content: " "; */
  	display: block;
  	opacity: 1;
  	width: 172px;
  	height: 255px;
  	position: relative;
  	left: 8px;
  	background: linear-gradient(-180deg, rgb(127 11 11 / 10%) 0%, rgba(77, 77, 77, 0) 60%);
  }

  .book:hover::before {
  	transform: translateY(9px);
  	opacity: 1;

  }

  @media screen and (max-width:600px) {

  	.title h1 {
  		color: #fff;
  		font-size: 10vw;
  		font-weight: bold;
  	}

  	.title p {
  		color: #fff;
  		font-size: 25px;
  	}

  	header {
  		height: 600px;
  	}
  }

  /*Menu*/

  .main-container {
  	/* margin:1% 2%;
	padding:1%; */
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  }

  .main-container>div {
  	/* margin:2% 2%; */
  	padding: 2%;
  	/* border:1px solid silver; */
  	width: 227px;
  	margin: 0.2rem;
  }


  .line-flex {
  	display: flex;
  	width: 100%;
  	margin-bottom: 5%;
  	align-self: end;
  	justify-content: space-between;
  }

  /* @media screen and (max-width:750px) {
.main-container{
	margin:5% 2%;}
.main-container >div{
	width:46%;
	} 
}
*/